<!DOCTYPE html>
<html>

<head>
    <title>Ginga - Cadastre-se agora no ginga</title>
    <% include ../components/head %>
</head>

<body>

    <div class="site-wrap">
        <header class="site-navbar" role="banner">
            <div class="site-navbar-top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left"></div>
                        <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                            <div>
                                <center>
                                    <img class="img-fluid" src="<%include ../constantes/base %>images/logo.png" width="40%" />
                                </center>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 order-3 order-md-3 text-right"></div>
                    </div>
                </div>
            </div>
        </header>
        <div class="site-section">
            <div class="container">
                <% include ../components/erros %>
                <div class="row">
                    <div class="offset-md-1 col-md-10">
                        <form action="/publico/cadastro" method="post">
                            <div class="p-3 p-lg-5 border">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="nome" class="text-black">Nome<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="nome" name="nome">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="email" class="text-black">E-mail<span class="text-danger">*</span></label>
                                        <input type="email" class="form-control" id="email" name="email" >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="senha" class="text-black">Senha <span class="text-danger">*</span></label>
                                        <input type="password" class="form-control" id="senha" name="senha" placeholder=""
                                            >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="repetir-senha" class="text-black">Repita a sua senha <span class="text-danger">*</span></label>
                                        <input type="password" class="form-control" id="repetirSenha" name="repetirSenha"
                                            placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Cadastrar-se">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer class="site-footer border-top">
            <div class="container">
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <p>
                            Copyright &copy; Ginga - Todos os direitos reservados
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <% include ../components/footer %>
</body>

</html>